/*IMPORTANDO FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*ESTILO GENERAL*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --azul: #2d81b9;
}

/*HEADER*/
.content{
    width: 100%;
    margin: auto;
}
header .navbar{
    background: var(--azul);
    margin-bottom: 10px;
    width: 100%;
}
header .navbar ul{
    list-style: none;
    overflow: hidden;
}
header .navbar ul li{
    float: left;
    
}
header .navbar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
}
header .navbar ul li a:hover{
    background: lightslategray;
}
.active{
    background: lightseagreen;
}
/*NAVBAR*/

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/