/*IMPORTANDO FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*ESTILO GENERAL*/
*{
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
#mycarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 91vh;
}
.carousel-item:nth-child(1) {
    background-image: url('../img/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(2) {
    background-image: url('../img/foto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-caption{
    background: rgba(0, 0, 0, 0.7);
}
